body {
    background-image: url("../images/background_image.jpg");
}

h1 {
    background-color: white;
    max-width: 125px;
}

h2 {
    background-color: white;
    max-width: 900px;
    padding: 15px;
}

#articles {
    background-color: white;
}

#notes {
    background-color: white;
}